@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body
{
  background-color:rgba(167, 226, 226, 0.603);
}
p1 
{ 
  font-family: 'M PLUS 1p', sans-serif;
  color: gray;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 20px;
}
p2 
{ 
  font-family: 'M PLUS 1p', sans-serif;
  color: black;
  font-size: 30px;
}
p 
{
  font-family: 'M PLUS 1p', sans-serif;
  color: black;
}
button
{
  font-family: 'M PLUS 1p', sans-serif;
  color: black;
  margin: 1px;
}
form
{
  margin-left: 100px;
  margin-top: 20px;
}
input
{
  margin-bottom: 10px;
}

ul
{
  margin-top: 135px;
}

.box11{
  padding: 0.5em 1em;
  margin: 2em 0;
  width: 400px;
  height: 400px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin:0 auto;
  margin-top: 100px;
}
.box11 p {
  margin: 0; 
  padding: 0;
}