<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="box11">
            <h1>プロフィール編集</h1>
            <hr>
            <form class="form" action="/userinfo/edit" method="post" enctype="multipart/form-data">
                
                <h2>アイコン</h2>
                <img src="{{ url_for('static', filename= 'image/' + userinfo[0][1] + '.jpg') }}" alt="Uploaded Image">
                <input class="input" type="file" name="file" size="60" accept="image/png, image/jpeg" ></p>
                <h2>ひとこと</h2>
                <input class="input" type="text" name="comment" size="60" value="{{userinfo[0][2]}}"></p>
                <h2>誕生日</h2>
                <input class="input" type="date" name="birthday" size="60" value="{{userinfo[0][3]}}"></p>
                <h2>twitter</h2>
                <input class="input" type="text" name="twitter" size="60" value="{{userinfo[0][4]}}"></p>
                <h2>ホームページ</h2>
                <input class="input" type="text" name="website" size="60" value="{{userinfo[0][5]}}"></p>
                <button class="btn" type="submit" formmethod="POST">送信</button>
            </form>
            <hr>
            <ul>
                <li><a href="/message/home">メッセージセンターホーム</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>
    </body>
</html>