<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class = "box11">
            <div id="contents">
                <h1>MessagingGrounp</h1>
            </div>
            <hr>
                <h2 class="out-of-form">グループ作成</h2>
                    <form class="form" action="/group/create" method="post">
                            <p>名前</p>
                            <input class="input" type="text" name="groupname" size="30" ></p>
                            <button class="btn"type="submit" formmethod="POST">作成</button>
                    </form>
            <hr>
                <h2 class="out-of-form">グループ一覧</h2>
                    {% for fromGroup in fromGroups %}
                    <tr>
                        <form class="form" action="/group/show" method="get">
                            <input type="hidden" name="groupid" size="60" value={{fromGroup[3]}}></p>
                            <input type="hidden" name="groupname" size="60" value={{fromGroup[1]}}></p>
                            <button class="btn-friend" type="submit" formmethod="get">{{fromGroup[1]}}</button>
                            
                        </form>
                    </tr>
                    {% endfor %}
            <hr>
            <ul>
                <li><a href="/group">グループ</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>
    </body>
</html>