<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        
        <div class = "box11">
        <div id="contents">
            <h1>{{props.msg}}</h1>
        
            <div class="container">
                <form class="form" action="/" method="post">
                    <h2>ログイン</h2>
                    <p class="name">名前</p>
                    <input class="input" type="text" name="username" size="20" ></p>
                    <p class="pass">パスワード</p>
                    <input class="input" type="text" name="password" size="20"></p>
                    <input class="btn" type="submit" value="送信" formmethod="POST"></input>
                </form>
                
            </div>
            <ul>
                <a href="/signup">アカウント登録はこちらから</a>
            </ul>
        </div>
        
    </body>
</html>