<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="contents">
            <p2>こんにちは_{{username}}</p2>
        </div>
        <hr>
            <form action="/message/get" method="post">
                    <p1>送信</p1>
                    <p>宛先</p>
                    <input type="text" name="postTo" size="30" ></p>
                    <p>メッセージ</p>
                    <input type="text" name="content" size="60"></p>
                    <button class="btn-flat-border" type="submit" formmethod="POST">送信</button>
            </form>
            <hr>
            <form action="/userinfo/show" method="GET">
                <p1>検索</p1>
                <p>名前</p>
                <input type="text" name="infoname" size="30" ></p>
                <button class="btn-flat-border" type="submit" formmethod="GET">送信</button>
            </form>
            <hr>
                <p>友達</p>
                {% for fromMessage in fromMessages %}
                <tr>
                    <form action="/userinfo/show" method="get">
                        <input type="hidden" name="infoname" value="{{fromMessage[1]}}">
                        <button type ="submit" class="btn-flat-border" formmethod="get">{{fromMessage[1]}}</button>
                    </form>
                </tr>
                {% endfor %}
            <hr>
                <p>友達申請</p>
                {% for request in friendrequests %}
                <tr>
                    <form action="/friend/approve" method="get">
                        <input type="hidden" name="requestedid" value="{{request[2]}}">
                        <input type="hidden" name="requestid" value="{{request[1]}}">
                        <button type ="submit" class="btn-flat-border" formmethod="get">{{request[1]}}</button>
                    </form>
                </tr>
                {% endfor %}
            <hr>
        <ul>
            <li><a href="/userinfo/edit">プロフィール編集</a></li>
            <li><a href="/group">グループ</a></li>
            <li><a href="/logout">ログアウト</a></li>
        </ul>
    </body>
</html>