<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="contents">
            <p2>HELLO_{{username}}</p2>
        </div>
        <hr>
            <form action="/message/post" method="post">
                    <p1>Post Form</p1>
                    <p>Post to</p>
                    <input type="text" name="postTo" size="30" ></p>
                    <p>Message</p>
                    <input type="text" name="content" size="60"></p>
                    <button type="submit" formmethod="POST">Send</button>
            </form>
            <hr>
            <form action="/message/get" method="post">
                <p1>Search Form</p1>
                <p>Sender name</p>
                <input type="text" name="postFrom" size="30" ></p>
                <button type="submit" formmethod="POST">Search</button>
            </form>
            <hr>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </body>
</html>