<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="box11"> 
            <h1>MessagingCenter Home</h1>
                <hr>
                <h2 class="out-of-form">ユーザ検索</h2>
                <form class="form" action="/userinfo/show" method="GET">
                    <input class="input" type="text" name="infoname" size="30" ></p>
                    <button class="btn" type="submit" formmethod="GET">送信</button>
                </form>
                <hr>
                    <h2 class="out-of-form">友達一覧</h2>
                    {% for fromMessage in fromMessages %}
                    <tr>
                        <div class="friend-show">
                            <form class="form" action="/userinfo/show" method="get">
                                <img class="img" src="{{ url_for('static', filename= 'image/' + fromMessage[1] + '.jpg') }}" alt="Uploaded Image">
                                <input type="hidden" name="infoname" value="{{fromMessage[1]}}">
                                <button type ="submit" class="btn-friend" formmethod="get">{{fromMessage[1]}}</button>
                            </form>
                        </div>
                    </tr>
                    {% endfor %}
                <hr>
                    <h2 class="out-of-form">友達申請</h2>
                    {% for request in friendrequests %}
                    <tr>
                        <div class="friend-request-container">
                            <img class="img" src="{{ url_for('static', filename= 'image/' + request[1] + '.jpg') }}" alt="Uploaded Image">
                            <h2 class="friend-request-h2">{{request[1]}}</h2>
                            <form class="friend-request-form" action="/friend/approve" method="get">
                                <input type="hidden" name="requestedid" value="{{request[2]}}">
                                <input type="hidden" name="requestid" value="{{request[1]}}">
                                <button type ="submit" class="btn-friend" formmethod="get">承認</button>
                            </form>
                            <form class="friend-request-form" action="/friend/reject" method="get">
                                <input type="hidden" name="requestedid" value="{{request[2]}}">
                                <input type="hidden" name="requestid" value="{{request[1]}}">
                                <button type ="submit" class="btn-friend" formmethod="get">却下</button>
                            </form>
                        </div>
                    </tr>
                    {% endfor %}
                <hr>
            <ul>
                <li><a href="/userinfo/edit">プロフィール編集</a></li>
                <li><a href="/group">グループ</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>
    </body>
</html>