<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Recieved Message</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="contents">
        <p2>メッセージ</p2>
    </div>
    <p1>友達：{{postFrom}}</p1>
    <p>内容</p>
    <hr>
    {% for message in MessageContents %}
        <tr>
            <p>{{message[1]}} : {{message[3]}}</p>
        </tr>
        <hr>
    {% endfor %}
    <hr>
    <form action="/message/get" method="post">
        <p1>送信</p1>
        <p>名前</p>
        <input type="text" name="postTo" size="30" value={{postFrom}}></p>
        <p>メッセージ</p>
        <input type="text" name="content" size="60"></p>
        <button type="submit" formmethod="POST">送信</button>
    </form>
    <hr>
    <ul>
        <li><a href="/message/home">メッセージセンター</a></li>
        <li><a href="/logout">ログアウト</a></li>
    </ul>
 </body>
</html>