<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>プロフィール</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="box11">
            <h1>プロフィール</h1>
            <hr>
            <div class="container">
                <img src="{{ url_for('static', filename= 'image/' + userinfo[0][1] + '.jpg') }}" alt="Uploaded Image">
                <h2>ユーザ名</h2>
                <li class="profile">{{userinfo[0][1]}}</p>
                <h2>ひとこと</h2>
                <li class="profile">{{userinfo[0][2]}}</p>
                <h2>誕生日</h2>
                <li class="profile">{{userinfo[0][3]}}</p>
                <h2>twitter</h2>
                <li class="profile"><a href="https://twitter.com/{{userinfo[0][4]}}">{{userinfo[0][4]}}</a></p>
                <h2>ホームページ</h2>
                <li class="profile"><a href={{userinfo[0][5]}}>{{userinfo[0][5]}}</a></p>
            </div>
            <form class="friend-request" action="/friend/request" method="get">
                <input type="hidden" name="isrequest" value="True"></p>
                <input type="hidden" name="requestedname" value={{userinfo[0][1]}}></p>
                {% if friend == False %}
                <button class="btn" type="submit" formmethod="get">フレンドリクエスト</button>
                {% else %}
                <p></p>
                {% endif %}
            </form>
            <hr>
            <ul>
                {% if friend == True %}
                <li><a href="/message/get?postFrom={{userinfo[0][1]}}">このユーザとのやり取り</a></li>
                <li><a href="/voiceChat?connectTo={{userinfo[0][1]}}">このユーザとのビデオチャット</li>
                {% else %}
                <p></p>
                {% endif %}
                <li><a href="/message/home">メッセージセンター</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>
    </body>
</html>