<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <form>
    <hr>
        <p1>ユーザプロフィール</p1>
    <hr>
        <p>ユーザ名</p>
        <li>{{userinfo[0][1]}}</p>
        <p>ひとこと</p>
        <li>{{userinfo[0][2]}}</p>
        <p>誕生日</p>
        <li>{{userinfo[0][3]}}</p>
        <p>twitter</p>
        <li>{{userinfo[0][4]}}</p>
        <p>ホームページ</p>
        <li>{{userinfo[0][5]}}</p>
        </form>
        <form action="/friend/request" method="get">
            <input type="hidden" name="isrequest" value="True"></p>
            {% if friend == False %}
            <button class="btn-flat-border" type="submit" formmethod="get">フレンドリクエスト</button>
            {% else %}
            <p></p>
            {% endif %}
        </form>
    <hr>
    <ul>
        {% if friend == True %}
        <li><a href="/message/get?postFrom={{userinfo[0][1]}}">このユーザとのやり取り</a></li>
        {% else %}
        <p></p>
        {% endif %}
        <li><a href="/message/home">メッセージセンター</a></li>
        <li><a href="/logout">ログアウト</a></li>
    </ul>
    </body>
</html>