<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="contents">
            <p2>{{props}}</p2>
        </div>
        <form action="/signup" method="post">
            <p>名前</p>
            <input type="text" name="username" size="20" ></p>
            <p>パスワード</p>
            <input type="text" name="password" size="20"></p>
            <button type="submit" formmethod="POST">送信</button>
        </form>
    </body>
</html>